
<main>
<p>We met in our sophomore year at Boston College. (Special thanks to Jackie, who introduced Lauren to Justin. Thanks to Justin who introduced Lauren & RJ, and made sure RJ knew that Justin & Lauren were NOT dating.) Our very first picture together is of Lauren helping RJ with his "Quailman" costume. 90's Nickelodeon shows and a mutual love for the Harry Potter series? We knew we would be good together! We began officially dating in January 2010 after a day spent in New York City. The Rockefeller Center Christmas Tree was still up, and we enjoyed the day with some good friends. After almost 7 years, RJ proposed to Lauren in her favorite place in the world, doing her favorite things -- running & fitness. Meeting her at the finish of a runDisney race, he asked Lauren to marry him. We are so excited for our wedding in December, just a few days from our 8th anniversary. Thank you for sharing in this day with us!    We couldn't be happier!!<br><br>P.S. Why are we called Laurj? One day, Celeste, Lauren's roommate, meant to call for her to ask when RJ was coming over. Instead she said-- Hey, Laurj?! And her accidental name stuck. Thanks Celeste!</p>

<%= image_tag "Quailman.jpg", size:
		"604x453", alt: "Quailman"%>
<%= image_tag "proposal.jpg", size:
		"472x480", alt: "Proposal"%>

</main>


