<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"
	version="XHTML+RDFa 1.0" dir="ltr"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/terms/"
	xmlns:foaf="http://xmlns.com/foaf/0.1/" xmlns:og="http://ogp.me/ns#"
	xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
	xmlns:sioc="http://rdfs.org/sioc/ns#"
	xmlns:sioct="http://rdfs.org/sioc/types#"
	xmlns:skos="http://www.w3.org/2004/02/skos/core#"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema#">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">


<script type="text/javascript">
	/* =============================
	This script generates sample text for the body content. 
	You can remove this script and any reference to it. 
	 ============================= */
	var bodyText = [
			"This is example text, it is used specifically just to check out how the site looks.",
			"Merry Christmas ya filthy animal.",
			"Whoa you are looking at this?  You arent supposed to look at this text.  Why would you look here?  There is nothing here for you. Go away.",
			"Please stop, go away.",
			"</p><p>Why are you still here?  Don't you know that there is no secret here?  Seriously someone is a bit too nosy.",
			"Okay fine, there is a secret.  Email richard.j.seibert@gmail.com with the code 'flanksteak' for your prize.",
			"<h3>Heading</h3><p>The most important moment of your life is now. The most important person in your life is the one you are with now, and the most important activity in your life is the one you are involved with now." ]
	function generateText(sentenceCount) {
		for (var i = 0; i < sentenceCount; i++)
			<!--document.write(bodyText[Math.floor(Math.random() * 7)] + " ")-->
	}
</script>

</head>
<body>

	<main>
	<div class="center_image"><%= image_tag "Piggyback.jpg", size:
		"702x468", alt: "Piggyback"%></div>

	<div class="innertube">

		<h2>December 30th, 2017</h2>
		<p>Thanks for visiting our wedding website! We cannot wait to celebrate our special day with all of our favorite people.</p>
		<p>
			<script>
				generateText(300)
			</script>
		</p>

	</div>
	</main>


</body>

</html>