
<style type="text/css">
div.map {
	position: relative;
}

div.map iframe {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	margin-top: 225px;
	transform: translate(-50%, -50%);
	
}
</style>

<main>
<h2>Event#index</h2>
<p>This is the location of the reception:</p>
<div class="map">
	<iframe
		src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3032.4850884279267!2d-74.5362408846006!3d40.53087087935195!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c3c0ee797afc3d%3A0xa4987fb9c5ae2a2c!2sThe+Palace+At+Somerset+Park!5e0!3m2!1sen!2sus!4v1483119348540"
		width="600" height="450" frameborder="0" style="border: 4px"
		allowfullscreen></iframe>
</div>
</main>