<main>
<p>We are registered at Bed, Bath & Beyond. Click on the following link to view our registry.</p>
<a href="https://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&inventoryCallEnabled=true&registryId=544099797&pwsurl=">Registry</a>
</main>