
<style type="text/css">
div.map {
	position: relative;
}

div.map iframe {
	margin: 0;
	position: relative;
}

div.map iframe.church {
	margin: 0;
	position: relative;
}

p {
	position: relative;
	text-align: left;
}

table {
	margin-left: 10px
}
</style>

<main>
<table>

	<tr>
		<p>Accommodations</p>
	</tr>
	<tr>
		<p>Hotel reservations can be made at:</p>
	</tr>
	<tr>
		<ul>
			<li>Fairfield Inn and Suites by Marriott</li>
			<li>Somerset 315 Davidson Ave. Somerset, NJ 08873</li>
			<li>(732) 627-8483</li>
		</ul>
	</tr>
	<tr>
		<p>When making reservations, let the front desk know you are with
			the Naselli/Seibert wedding.</p>
		<p>
			<i>**There are a few connecting rooms that are available upon
				request. First come first serve.</i>
		</p>
	</tr>
	<tr>
		<p>Other hotels in the area:</p>
	</tr>
	<tr>
		<ul>
			<li>Homewood Suites by Hilton Somerset 101 Pierce Street
				Somerset, NJ 08873</li>

			<li>SpringHill Suites by Marriott 16 Cedar Grove Lane Somerset,
				NJ 08873</li>

			<li>Candlewood Suites Somerset 41 Worlds Fair Drive Somerset, NJ
				08873</li>

			<li>DoubleTree by Hilton Somerset 200 Atrium Drive Somerset, NJ
				08873</li>

		</ul>
	</tr>
	<tr>
		<td>
			<!--<%= image_tag "StMatthias.jpg", size: "702x468", alt:
			"StMatthias", align: "left"%> --> <iframe class="church"
				src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3032.441798850482!2d-74.53217698460054!3d40.53182747935187!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c3c0ec66b7199b%3A0x2e87c0fd16c0e736!2sFairfield+Inn+%26+Suites+by+Marriott+Somerset!5e0!3m2!1sen!2sus!4v1496878480642"
				width="600" height="450" frameborder="0" style="border: 0"
				allowfullscreen></iframe>
		<td>
	</tr>

</table>


</main>