<main>
	<p>
		<ul>
			<li>On Friday evening, Mr. & Mrs. Seibert will be hosting a Dessert Bar at the Fairfield Hotel on Davidson Road in Somerset, at 8PM.  The bride and groom and members of the bridal party will meet you there.</li>
	 
			<li>On Saturday afternoon, between the ceremony and the reception, Prosecco and snacks will be available at the hotel from 4:30-5:30PM in the Fairfield Hotel lobby.</li>
	 
			<li>At 10AM on Sunday, the bride’s parents are hosting a “Jersey” breakfast with bagels and pork roll and cheese sandwiches.</li>
		</ul>
	</p>
</main>
